body {
	background-color: #111;
	color: #CCC;
}

h1, h2, h3, #header {
	text-align: center;
	text-decoration: underline;
}

input {
	margin-top: 5px;
	width: 120px;
}

hr {
	border-color: #333;
}

hr.n {
	width: 90%;
}

button {
	padding: 5px 15px;
	background-color: #222;
	color: #CCC;
	font-weight: bold;
	border-color: #444;
	margin: 10px;
	font-size: 18px;
}

button:focus, input:focus {
	outline: none;
}

button:hover {
	text-decoration: underline;
}

#output > h2 {
	text-decoration: none;
}

#mugs, #baubles {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

.mug-entry, .bauble-entry {
	display: inline-block;
	padding: 20px;
}

#buttons {
	text-align: center;
}